.wrapper {
  display: grid;
  grid-template-columns: 1.15fr 0.75fr;
  grid-template-rows: 1.5fr 1fr;
  background-color: #fff;
  color: #444;
  height: 100%;
}

.box {
}

.a {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.b {
  grid-column: 2;
  grid-row: 1 / span 2;
}
/* .c {
  grid-column: 1 / span 2;
  grid-row: 2;
} */
.e {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.iconfix {
  transform: scale(0.85);
}
