@font-face {
  font-family: "Futura-Bold";
  src: url("Futura-Bold.woff") format("woff"),
    url("Futura-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Medium";
  src: url("Futura-Medium.woff") format("woff"),
    url("Futura-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
